.home {
  display: flex;
  width: 100%;

  background-color: #fff;
  background-image: -moz-linear-gradient(
    135deg,
    rgba(3, 143, 237, 0.8) 0%,
    rgba(29, 210, 254, 0.8) 100%
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(3, 143, 237, 0.8) 0%,
    rgba(29, 210, 254, 0.8) 100%
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgba(3, 143, 237, 0.8) 0%,
    rgba(29, 210, 254, 0.8) 100%
  );
  background-image: linear-gradient(
    135deg,
    rgba(3, 143, 237, 0.8) 0%,
    rgba(29, 210, 254, 0.8) 100%
  );
}

.home__header {
  width: 100%;
  padding: 8rem 0;
  text-align: center;
  color: white;
}

.home__content {
  margin: 0 auto;
}

.home__heading {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.home__description {
  font-size: 1.2rem;
  font-weight: 300;
}

.home__heading--top {
  display: block;
}

.home__action {
  width: 100%;
  text-align: center;
}

.home__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #00407c;
  padding: 1.25rem 2.5rem;
  border-radius: 30px;
  margin: 1rem 0;

  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  transition-property: box-shadow;
}

.home__link:hover {
  background-color: rgb(27, 85, 126);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.home-content {
  position: relative;
  background-color: #ffffff;
}

.home-blob {
  position: absolute;
  top: 100px;
  left: 0;
  height: 100%;
  z-index: -1;
}

.home-blob path {
  fill: rgba(237, 247, 247, 0.8);
  transform: translate(0px, 200px) scaleX(2) scaleY(4);
}

.info {
  padding: 4rem 0;
}

.info__heading {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.25;
  letter-spacing: 1.25px;
  padding-bottom: 4rem;
}

.info__tile {
  padding: 0 2rem 4rem 2rem;
  border-radius: 10px;
}

.info__subheading {
  color: black;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 1.25rem 0;
}

.info__text {
  font-size: 1.25rem;
  line-height: 1.9em;
  letter-spacing: 0.03em;
}

.demo {
  width: 100%;
  background-color: #f7f9fc;
  padding: 3rem 0;
}

.demo__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.demo__heading {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.25;
  letter-spacing: 1.25px;
  padding: 0 0 4rem 0;
  margin: 0;
  color: black;
}

.footer {
  padding-top: 75px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color: white;
}

@media only screen and (min-width: 600px) {
  .home__heading {
    font-size: 60px;
  }
}
