.missing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  color: #efefef;
  font-size: 1.2em;
  text-align: center;
}

.missing__link {
  color: #2191fb;
  text-decoration: none;
}

.missing__link:hover {
  color: #1474ce;
}
