.challenges {
  /* height: 100%; */
  width: 100%;
  max-width: 1526px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
}

.challenges__header {
  width: 100%;
  flex: 0 0 auto;
}

.challenges__filter {
  width: 100%;
}

.challenges__option {
  width: 100%;
  margin-bottom: 15px;
}

.challenges__option--flex {
  display: flex;
  flex-flow: row nowrap;
}

.challenges__option-heading {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #efefef;
}

.challenges__search {
  width: 1px;
  flex: 1 0 auto;
  padding: 8px 12px;
  background-color: #282828;
  color: #efefef;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border: 1px solid #3f3f46;
  border-right: none;
  outline: none;
}

.challenges__search:focus {
  border: 1px solid #858588;
}

.challenges__search-btn {
  flex: 0 1 auto;
  background-color: #3f3f46;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border: 1px solid #3f3f46;
  color: #efefef;
}

.challenges__search-btn:hover {
  background-color: rgb(82, 82, 91);
  cursor: pointer;
}

.challenges__sort {
  width: 100%;
  padding: 8px 40px 8px 12px;
  background-color: rgb(39, 39, 42);
  border: 1px solid #3f3f46;
  border-radius: 5px;
  color: #efefef;
}

.challenges__list {
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  color: white;
}

.challenges__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

.challenges__table-header {
  border-bottom: 1px solid rgb(61, 61, 61);
}

.challenges__table-heading {
  text-align: left;
  padding: 10px 0;
  color: rgba(239, 242, 246, 0.6);
}

.challenges__cell-max {
  width: 100%;
}

.challenges__table-row {
  border: none;
}

.challenges__table-row:nth-child(even) {
  background-color: #ffffff12;
}

.challenges__table-row td {
  padding: 10px 0;
}
.challenges__table-level {
  font-weight: 900;
}

.challenges__table-level--easy {
  color: rgb(0, 184, 163);
}

.challenges__table-level--medium {
  color: rgb(255 192 30);
}

.challenges__table-level--hard {
  color: rgb(255 55 95);
}

.challenges__title {
  margin: 0;
  flex: 1 0 auto;
  color: #efefef;
  background-color: transparent;
  border: none;
  text-align: left;
}

.challenges__title:hover {
  color: #2191fb;
  cursor: pointer;
}

.challenges__empty {
  display: block;
  width: 100%;
  text-align: center;
  color: #efefef;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.4em;
}

@media only screen and (min-width: 800px) {
  .challenges {
    display: flex;
    flex: 1 0 auto;
  }

  .challenges__header {
    width: 275px;
    margin-right: 20px;
    background-color: #282828;
    padding: 20px 10px;
    border-radius: 10px;
  }

  .challenges__content {
    flex: 1 1 auto;
  }
}
