.page-header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #212121;
  position: relative;
}

.header__right {
  position: absolute;
  width: 60px;
  height: 100%;
  right: 0;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  height: 100%;
  width: 0;
  z-index: 5;
  background-color: #151728;
  transition: width 0.3s;
}

.menu--collasped {
  display: block;
  position: relative;
  height: 100%;
  width: auto;
  background-color: transparent;
  z-index: 4;
}

.menu--active {
  width: 200px;
  position: fixed;
}

.menu__btn {
  display: block;
  width: 60px;
  height: 35px;
  margin: 10px auto 0 auto;
  padding: 0;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

.menu__btn:focus,
.menu__btn:hover {
  background-color: #222222;
  background-color: rgba(132, 132, 132, 0.1);
}

.menu--collasped .menu__btn {
  margin: 5px auto;
}

/* Hamburger style menu */
.menu__toggle {
  width: 100%;
  height: 100%;
  padding: 8px 0 0 0;
  border: none;
  margin: 0;
}

.menu--active .menu__toggle {
}

.menu__bar {
  display: block;
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 0 auto 6px auto;
  transition: 0.4s;
  border-radius: 3px;
}

.menu--active .menu__bar--1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.menu--active .menu__bar--2 {
  opacity: 0;
}

.menu--active .menu__bar--3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Flip site logo on collaspe menu */
@media only screen and (max-width: 600px) {
  .menu-active .menu__nav {
    opacity: 1;
  }
}

.menu__img {
  height: 50px;
  border-radius: 50%;
}

.menu__img--toggle:hover {
  cursor: pointer;
}

.menu--collasped .menu__content {
  display: none;
}

.menu--collasped-active .menu__content {
  display: block;
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: #212121;
}

.menu__nav {
  width: 100%;
  margin: 1em 0;
}

.menu__nav {
  padding: 20px 30px 0 30px;
  opacity: 0;
  transition: 0.1s;
  visibility: hidden;
}

.menu--active .menu__nav {
  opacity: 1;
  visibility: visible;
  transition: 0.1s;
}

.menu--collasped-active .menu__nav {
  opacity: 1;
  visibility: visible;
  padding: 0;
  transition: 0s;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  width: 100%;
  text-align: center;
}

.menu__item--block {
  display: block;
  width: 90%;
  text-align: center;
  margin: 5px auto;
}

.menu__link {
  display: block;
  padding: 0.7em;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  font-family: 'Rubik', 'sans-serif';
}

.menu__link-active {
  color: #929292;
}

.menu__link:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  /* color: #929292; */
}

.menu__item--block .menu__link {
  border: none;
  font-weight: 300;
  border-radius: 5px;
}

.menu__item--block .menu__link:hover {
  background-color: #7d0964;
}
.menu__dividor {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 600px) {
  .menu {
    width: auto;
    position: relative;
    background-color: transparent;
    background: none !important;
    justify-content: center;
  }

  .menu__btn {
    display: none;
  }

  .menu--collasped .menu__btn {
    display: block;
  }

  .menu__nav {
    width: auto;
    opacity: 1;
    visibility: visible;
    margin: auto 0 auto 5px;
    padding: 0;
  }

  .menu__item {
    display: inline-block;
    width: auto;
  }

  .menu__item--block {
    display: block;
    width: 90%;
    text-align: center;
    margin: 5px auto;
  }
}
