.page-header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid rgb(32, 46, 80);
  border-top-color: rgb(32, 46, 80);
  border-right-color: rgb(32, 46, 80);
  border-left-color: rgb(32, 46, 80);
}

.header__container {
  display: flex;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  justify-content: right;
}

.header__right {
  flex-shrink: 0;
  margin-right: 5px;
  width: 60px;
  height: 100%;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  z-index: 5;
  background-color: #151c29;
  transition: width 0.3s;
}

.menu--collasped {
  display: block;
  position: relative;
  height: 100%;
  width: auto;
  background-color: transparent;
  z-index: 4;
}

.menu--active {
  width: 200px;
  position: fixed;
}

.menu__btn {
  display: block;
  width: 60px;
  height: 35px;
  margin: 10px auto 0 auto;
  padding: 0;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

.menu__btn--user {
  width: 55px;
  height: 55px;
}

.menu__btn:focus,
.menu__btn:hover {
  background-color: #222222;
  background-color: rgba(132, 132, 132, 0.1);
}

.menu--collasped .menu__btn {
  margin: 5px auto;
}

/* Hamburger style menu */
.menu__toggle {
  width: 100%;
  height: 100%;
  padding: 8px 0 0 0;
  border: none;
  margin: 0;
}

.menu--active .menu__toggle {
}

.menu__bar {
  display: block;
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 0 auto 6px auto;
  transition: 0.4s;
  border-radius: 3px;
}

.menu--active .menu__bar--1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.menu--active .menu__bar--2 {
  opacity: 0;
}

.menu--active .menu__bar--3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Flip site logo on collaspe menu */
@media only screen and (max-width: 600px) {
  .menu-active .menu__nav {
    opacity: 1;
  }
}

.menu__img {
  height: 50px;
  border-radius: 50%;
}

.menu__img--toggle:hover {
  cursor: pointer;
}

.menu--collasped .menu__content {
  display: none;
}

.menu--collasped-active .menu__content {
  display: block;
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 10px;
  width: 200px;
  border-radius: 10px;
  background: radial-gradient(circle at 60% 50%, #202e50 0%, #1d273f 70%);
}

.menu__nav {
  width: 100%;
  margin: 1em 0;
}

.menu__nav {
  padding: 20px 30px 0 30px;
  opacity: 0;
  transition: 0.1s;
  visibility: hidden;
}

.menu--active .menu__nav {
  opacity: 1;
  visibility: visible;
  transition: 0.1s;
}

.menu--collasped-active .menu__nav {
  opacity: 1;
  visibility: visible;
  padding: 0;
  transition: 0s;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__list--stack {
  display: block;
  text-align: center;
  width: 100%;
}

.menu__item {
  position: relative;
  width: 100%;
  text-align: center;
}

.menu__item--block {
  display: block;
  width: 90%;
  text-align: center;
  margin: 5px auto;
}

.menu__item--heading {
  min-width: 100px;
  margin-bottom: 10px;
}

.logo {
  display: none;
  width: 40px;
  height: 40px;
  fill: #60a5fa;
  margin: 0 5px 0 -45px;
  vertical-align: middle;
}

.menu__link--logo:hover .logo {
  fill: #4f96ed;
}

.menu__link--logo:hover .menu__title {
  color: #efefef;
}

.menu__title {
  display: block;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.menu__link {
  display: block;
  padding: 0.7em;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  font-family: 'Rubik', 'sans-serif';
}

.menu__link-active {
  color: #929292;
}

.menu__link:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.menu__link--logo {
  padding: 0;
}

.menu__item--block .menu__link {
  border: none;
  font-weight: 300;
  border-radius: 5px;
}

.menu__item--block .menu__link:hover {
  background-color: #273453;
}

.menu__dividor {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 600px) {
  .menu {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    background: none !important;
    justify-content: center;
  }

  .menu__btn {
    display: none;
  }

  .menu--collasped .menu__btn {
    display: block;
  }

  .menu__content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  .menu__icon {
    padding-right: 1.5rem;
    flex: 1 0 auto;
  }

  .menu__nav {
    display: flex;
    flex-flow: row nowrap;

    opacity: 1;
    visibility: visible;
    padding: 0 0.5rem;
  }

  .menu__nav--user {
    margin: auto 0;
  }

  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list--stack {
    display: block;
    text-align: center;
  }

  .menu__item {
    display: inline-block;
    width: auto;
  }

  .menu__item--block {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px auto;
  }

  .menu__item--heading {
    margin-bottom: 0;
  }

  .logo {
    display: inline-block;
  }

  .menu__title {
    display: inline-block;
    font-weight: 700;
  }

  .menu__link--logo:hover {
    border-bottom: 2px solid transparent;
  }

  .logo {
    top: 0;
    left: 0;
    margin: 0 10px 0 -5px;
    vertical-align: middle;
  }
}
