.challenge {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.challenge--error {
  display: flex;
  width: 100%;
  padding-top: 4em;
  align-items: center;
}

.challenge__error-msg {
  color: #efefef;
  background-color: rgb(38, 39, 41);
  padding: 3em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 400;
}

.challenge__header {
  width: 100%;
  text-align: center;
  flex: 0 1 auto;
  margin: 15px 0;
}

.challenge__heading {
  margin: 0;
  color: #efefef;
}

.challenge__saving {
  color: #efefef;
}

.challenge__saving i {
  margin-right: 5px;
}

.challenge__saving--active {
  opacity: 1;
  transition: opacity 0.5s;
}

.challenge__saving--unactive {
  opacity: 0;
  transition: opacity 0.5s;
}

.challenge__nav {
  width: 100%;
}

.challenge__list {
  margin: 0;
  padding: 0;
}

.challenge__prompt {
  padding: 0 1em;
}

.challenge__status {
  font-weight: 300;
  font-size: 16px;
  margin-left: 7px;
}

.challenge__test--stats {
  width: 100%;
}

.challenge__test-passed,
.challenge__test-failed {
  display: inline-block;
  width: 50%;
  font-size: 1.2em;
  padding: 0 10px;
}

.challenge__content {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px 5px;
}

.challenge__details {
  overflow: auto;
  height: 200px;
  max-height: 200px;
  background-color: #262729;
  color: white;
}

.challenge__item {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  word-wrap: break-word;
  list-style: none;
}

.challenge__item--pass .challenge__expect {
  color: green;
}

.challenge__item--fail .challenge__expect {
  color: red;
}

.challenge__item--error {
  list-style: none;
  color: red;
}

.challenge__expect {
  display: block;
  width: 90%;
  margin: 10px auto;
  word-wrap: break-word;
}

.challenge__popup {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: rgba(45, 45, 45, 0.5);
  z-index: 6;
}

.challenge__completed {
  color: white;
  background-color: rgb(28, 28, 28);
  width: 90%;
  padding: 2em 0;
  text-align: center;
}

.challenge__completed a {
  text-decoration: none;
  color: rgba(250, 0, 118, 1);
}

.challenge__tools {
  height: 200px;
  margin: 10px 0 0 0;
}

/*  Parent Wrapper for codemirror  */
.challenge__tools > div {
  height: 100%;
}

.challenge__editor {
  flex: 1 0 auto;
  width: 100%;
}

.challenge__options {
  position: relative;
  width: 100%;
  flex: 0 1 auto;
  margin: 5px 0;
  min-height: 40px;
}

.challenge__invite {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 6;
}

.challenge__invite-wrapper {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 2em;
  border-radius: 3px;
  text-align: center;
}

.challenge__invite-link {
  width: 80%;
  font-weight: 400;
  margin: 0 auto 5px auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  border: none;
  resize: none;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .challenge__content {
    flex-flow: row nowrap;
    flex: 1 0 auto;
    height: 1px;
  }

  .challenge__details {
    width: 300px;
    flex: 0 1 auto;
    margin: 5px;
    height: auto;
    max-height: 100%;
  }

  .challenge__tools {
    /* flex: 1 0 auto; */
    max-height: 100%;
    margin: 5px 0;
    width: 100%;
    height: auto;
  }

  /*  Parent Wrapper for codemirror  */
  .challenge__tools > div {
    height: 100%;
    width: 100%;
  }

  .challenge__editor {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100%;
    position: relative;
  }

  /* ClassName for react codemirror inner element (needed layout to work) */
  .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  .challenge__completed {
    max-width: 600px;
  }

  .challenge__options {
    width: 100%;
    flex: 0 1 auto;
  }

  .challenge__invite-wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .challenge__invite-link {
    text-align: left;
  }
}
